{% extends 'base.html.twig' %}
{% block title %}HealthOne | Home{% endblock %}
{% block body %}
    <div class="container">
        <header>
            <div class="header-row lead" >
                <h1 class="display-3">Health<span class="text-danger">One</span></h1>

            </div>
        </header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="{{ path('homepage') }}">Sportcenter</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item ">
                        <a class="nav-link" href="{{ path('categories') }}">sportapparaten </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{path('app_register')}}">registreren</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">contact</a>
                    </li>

                </ul>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{{path('app_login')}}">inloggen</a>
                    </li>
                </ul>

            </div>
        </nav>

        <figure>
            <img alt="banner" class="img-fluid banner-img" src={{ asset('img/healthone-wide.png')}} />
        </figure>
        <h1>Register</h1>

        {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
        {{ form_row(registrationForm.firstName) }}
        {{ form_row(registrationForm.lastName) }}
        {{ form_row(registrationForm.agreeTerms) }}

        <button type="submit" class="btn">Register</button>
        {{ form_end(registrationForm) }}
        <hr>
        <footer>
            <i class="bi bi-linkedin float-right img-thumbnail "   ></i>
            <i class="bi bi-twitter float-right img-thumbnail "   ></i>
            <i class="bi bi-pinterest float-right img-thumbnail "  ></i>

            <p class="clear pb-3  text-muted text-center">&copy;Afdeling software development Tinwerf 10, 2544 ED Den Haag.</p>
        </footer>
    </div>
{%  endblock %}







